
<html>
<head>
<style>
body {
  
background-image: url("https://images-na.ssl-images-amazon.com/images/I/61G50%2BT4sTL._SL1500_.jpg");
background-size:cover;

}

p{
font-size: 70px; 
}  
</style>
</body>
</html>
