






body{

  background: url("https://i0.wp.com/www.dzzyn.com/wp-content/uploads/2016/02/20-FREE-BEAUTIFUL-HI-RES-WOOD-TEXTURE-WALLPAPER-BACKGROUNDS-20-Black-Wood.jpg?fit=1200%2C675");
  background-size:cover;
  text-align: center;
}

<head>
<style>


</style>
</head>
