h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}

h2 {
  font-size: 50px;
  text-align : center;
  color: white;

}

p {
 text-align: center;
}

body{

  background: url("https://i0.wp.com/www.dzzyn.com/wp-content/uploads/2016/02/20-FREE-BEAUTIFUL-HI-RES-WOOD-TEXTURE-WALLPAPER-BACKGROUNDS-20-Black-Wood.jpg?fit=1200%2C675");
  background-size:cover;
  text-align: center;
}

article {
   max-width: 500px;
   padding: 20px;
   margin: 0 auto;
}

@media (max-width: 500px) {
  
h1 {
    font-size: 36px;
}
}
