h1 {
  font-size: 0px;
  text-align : center;
  color: black;

}

h2 {
  font-size: 0px;
  text-align : center;
  color: black;

}

p {
 text-align: center;
}


a {
  color: black;
}

article {
   max-width: 500px;
   padding: 20px;
   margin: 0 auto;
}

@media (max-width: 500px) {
  
h1 {
    font-size: 36px;
}
}
