h1 {
  font-size: 70px;
  text-align : center;
  color: black;

}



p {
 text-align: center;
}


a {
  color: black;
}

body{
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
}


div.transbox {
  margin: 5%;
  font-weight: bold;
  color: black;
  margin: 30px;
  background-color: black;
  border: 3px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

<head>
<style>

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

</style>
</head>

