h1 {
  font-size: 70px;
  text-align : center;
  color: black;



p {
 text-align: center;
}

  
body{

  background: url("https://github.com/mariaisrail/mariaisrail.github.io/blob/master/achtergrond2kopie.jpg?raw=true");
  background-size:cover;
text-align: center;
}


