
h1 {
  font-size: 70px;
  text-align : center;
  color: black;

}

p {
 text-align: center;
}

* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px 5px 0 5px;
 text-align: center;
 
}
 
.menu ul {
 border-bottom: 1px solid black;
}
 
.menu ul li {
 display: inline;
 margin: 0 2px;
 padding: 0 5px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #333;
 background-color: #EEE;
 text-decoration: none;
 font-weight: bold;
 border: 1px solid black;
 padding: 0 40px;
}
 
.menu ul li a#current {
 border-bottom: 1px solid #FFC;
 background-color: #ffffcc;
}



























img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

body{
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
}


<head>
<style>

div.transbox {
  margin: 5%;
  font-weight: bold;
  color: black;
  margin: 30px;
  background-color: black;
  border: 3px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
 
}
div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 20px;
  opacity: 0.6;
  filter: alpha(opacity=60);
} 

</style>
</head>
