h1 {
  font-size: 70px;
  text-align : center;
  color: black;

}

ul {
  padding: 15px;
  background: #00FF00;
  font-size: 20px;
  border: 3px solid white;
  
}

p {
 text-align: center;
}

li {
  display: inline;
    padding: 0px 70px 0px 70px;
}
img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

body{
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
}

a {
  color: black;
}


<head>
<style>
div.background {
  border: 3px solid white;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 3px solid white;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}


</style>
</head>
