
<style>
h1 {
  font-size: 70px;
  text-align : center;
  color: black;
}
ul {
  padding: 15px;
  font-size: 20px;
 
}
p {
 text-align: center;
}

a {
  color: black;
}

li {
  display: inline;
    padding: 0px 70px 0px 70px;
}
img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
body{
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
}



* {
 padding: 0;
 margin: 0;
 font-family: Trebuchet MS;
}
 
.menu {
 margin: 5px;
 padding: 5px;
 border: 1px solid black;
 background-color: #666;
 text-align: center;
}
 
.menu ul li {
 display: inline;
 padding: 0 5px;
 width: 40px;
}
 
.menu ul li a, a:link, a:visited, a:active {
 color: #FFF;
 text-decoration: none;
 font-weight: bold;
}
 
.menu ul li a:hover {
 color: #FFF;
 border-bottom: 3px solid #FFF;
}

</style>




