

h1 {
  font-size: 70px;
  text-align : center;
  color: black;

}
ul {
  padding: 10px;
  background: white;
  font-size: 20px;
  border: 1px solid black;
  
}

p {
 text-align: center;
}

li {
  display: inline;
    padding: 0px 70px 0px 70px;
}
img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
body.hometown {

  background: url("https://thumbs.dreamstime.com/b/healthy-eating-background-studio-photography-different-fruits-vegetables-wooden-table-43160615.jpg");
  background-size:cover;
text-align: center;
}

body.bananenpannenkoeken {
  background: url("https://n6-img-fp.akamaized.net/vrije-photo/donkere-natuurlijke-retro-decoratieve-achtergrond_1253-335.jpg?size=338&ext=jpg")
   background-size:cover;
    a {
  color: black;
}
h1 {
  font-size: 70px;
}

<head>
<style>
div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
</style>
</head>
