h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}


img {
    position: center;
    float: left;
    width:  400px;
    height: 400px;
    border: 7px solid white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
 
}

body{

  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
}



<head>
<style>


</style>
</head>
