h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}

img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

body{

  background: url("https://github.com/mariaisrail/mariaisrail.github.io/blob/master/achtergrond2kopie.jpg?raw=true");
  background-size:cover;
text-align: center;
}



<head>
<style>


</style>
</head>
