h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}

img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

body{

  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
text-align: center;
}



<head>
<style>


</style>
</head>
