h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}

img {
  margin: 10px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}

img {
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
 
}

body{

  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
text-align: center;
}



<head>
<style>


</style>
</head>
