
* { 
  margin: 0px;
  padding: 0px;
}
  
body {
text-align: center;
background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
background-size: cover;

}

#header {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  list-style-type: none; 
  overflow: hidden; 
}

#navbar {
  width:1000px;
  height: 80px;
  border: 1px solid white;

}


navbar>li {
  width: 166,666667px;
  list-style: none;

}

li>a {
  display: block;
  color: black;
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
  padding: 70px 70px 0px 70px; 
}


#logo {
  width: 200px;
  height: 80px;
  padding-left: 40px;

}



ul {

  padding: 0px;

  margin: 0px;

  list-style: none;

  overflow: hidden;

  background-color: #333;

  list-style-type: none;

 

}



ul li {

  float: left;
  opacity: 0.8;
}



li a {

  text-decoration: none;
  color: black;
  display: block;
  padding: 70px 70px 0px 70px;

}


ul li a:hover {
  background-color: #111;

}


ul li ul li {
  display: none;

}  

  

ul li:hover ul {
  display: block;

} 

