* { 
  margin: 0px;
  padding: 0px;
}
  
body {
  text-align: center;
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size: cover;
}

#header {
  width: 100%;
  height: 80px;
  background: url("nieuwsteheader.JPG ");
  background-repeat:no-repeat;

}

#navbar {
  width:1000px;
  height: 80px;
  border: 1px solid white;
  float:right;
}

navbar>li {
  width: 166,666667px;
  list-style: none;
  float: left;
}

li>a {
  display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
}
  


ul li a:hover {
  background-color: #111;
}

ul li ul li {
  display: none;
}  
  
ul li:hover ul {
  display: block;
} 

