* { 
  margin: 0px;
  padding: 0px;
}


body {
  text-align: center;
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size: cover;

}


header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 2180px;
  background: url("nieuwsteheader.JPG ");
  background-repeat:no-repeat;
}


ul {

  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
}



ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8; 
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  padding-left: 100px;
}


li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 70px 70px 0px 70px;

}


ul li a:hover {
  background-color: #111;
}

    div.text {
      background: rgba(0,0,0,0.3);
      width: 59%;
      display: block;
      margin-left: auto;
      margin-right: auto
}
   
    }

    div.box {
      width:20%;
      display: block;
      margin-left: auto;
      margin-right: auto
      height: 300px;
}


