header{ 
     text-align: center;
     background: url('');
     background-size: cover;
     color: #0077FF;
     font-family: sans-serif;
     border: 7px solid white;
     border-radius: 20px;
   }











body{
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size:cover;
  text-align: center;
  font-family: Arial;
  color: white;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
 
}

ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0px 70px 0px 70px;

}

ul li a:hover {
  background-color: #111;
}




