
* { 
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size 50px;
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

body {
  text-align: center;
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size: cover;

}



#banner {

position: relative;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
height: auto;
z-index: -1;
}
  
h1 {
    font-size: 36px;
 }


ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
 
}

ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 70px 70px 0px 70px;
  line-height: 1.4;

}

ul li a:hover {
  background-color: #111;
}

ul li ul li {
  display: none;
}  
  
ul li:hover ul li {
  display: block;
} 



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;

  padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #111}

.dropdown:hover .dropdown-content {
    display: block;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color: white;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


    div.text {
      background: rgba(0,0,0,0.3);
      width: 59%;
      display: block;
      margin-left: auto;
      margin-right: auto

}

   

    }



    div.box {
      width:20%;
      display: block;
      margin-left: auto;
      margin-right: auto
      height: 300px;

}


<br> <br> <br> <br>

