* { 
  margin: 0px;
  padding: 0px;
}
  
body {
background: skyblue;
}

#header {
  width: 100%;
  height: 80px;
  background: url("nieuwsteheader.JPG ");
  background-repeat:no-repeat;

}

#navbar {
  width:1000px;
  height: 80px;
  border: 1px solid white;
  float:right;
}


navbar>li {
  width: 166,666667px;
  list-style: none;
  float: left;
}

li>a {
  display: block;
  color: white;
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}

#logo {
  width: 200px;
  height: 80px;
  float: left;
}

