
* { 
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size 50px;
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  text-align: center;
  color: white;
}

body {
  text-align: center;
  background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
  background-size: cover;

}


header {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 2180px; 
  background: url("nieuwsteheader.JPG ");
  background-repeat:no-repeat;
}


ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
 
}

ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 70px 70px 0px 70px;

}

ul li a:hover {
  background-color: #111;
}

ul li ul li {
  display: none;
}  
  
ul li:hover ul li {
  display: block;
} 



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #111}

.dropdown:hover .dropdown-content {
    display: block;
}

    div.text {
      background: rgba(0,0,0,0.3);
      width: 59%;
      display: block;
      margin-left: auto;
      margin-right: auto
}
   
    }

    div.box {
      width:20%;
      display: block;
      margin-left: auto;
      margin-right: auto
      height: 300px;
}


/* Footer */

#main-footer {
  padding: 2em;
  background: #333;
  color: #FFF;
  text-align: center;
}

#main-footer a {
  color: #ffff;
  text-decoration: none;
}

