* { 
  margin: 0px;
  padding: 0px;
}
  
body {
background: skyblue;
}

#header {
  width: 100%;
  height: 80px;
  background: #FFFFFF;
}

#navbar {
  width:1000px;
  height: 80px;
  border: 1px solid white;

}


navbar>li {
  width: 166,666667px;
  list-style: none;

}

li>a {
  display: block;
  color: black;
  line-height: 80px;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  text-decoration: none;
}

#logo {
  width: 200px;
  height: 80px;

}

