
* { 
  margin: 0px;
  padding: 0px;
}
  
body {
text-align: center;
background: url("https://static.pexels.com/photos/164005/pexels-photo-164005.jpeg");
background-size: cover;

}


ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
 
}

ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  padding-left: 60px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 70px 70px 0px 70px;

}

ul li a:hover {
  background-color: #111;
}

ul li ul li {
  display: none;
}  
  
ul li:hover ul li {
  display: block;
} 


