h1 {
  font-size: 70px;
  text-align : center;
  color: white;

}

h2 {
  font-size: 50px;
  text-align : center;
  color: white;

}

h3 {
  font-size: 50px;
  text-align : center;
  color: white;

}

h4 {
  font-size: 50px;
  text-align : center;
  color: white;

}

h5 {
  font-size: 50px;
  text-align : center;
  color: white;

}

p {
  font-size: 20px;
  text-align : center;
  color: white;
}

body{

  background: url("https://i0.wp.com/www.dzzyn.com/wp-content/uploads/2016/02/20-FREE-BEAUTIFUL-HI-RES-WOOD-TEXTURE-WALLPAPER-BACKGROUNDS-20-Black-Wood.jpg?fit=1200%2C675");
  background-size:cover;
  text-align: center;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  list-style-type: none;
 
}

ul li {
  float: left;
  width: 200px
  height: 40px
  background-color: black;
  opacity: .8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 70px 70px 0px 70px;

}

ul li a:hover {
  background-color: #111;
}


p {
  font-size: 70px;
