h1 {
  font-size: 70px;
  text-align : center;
  color: black;

}

h2 {
  font-size: 50px;
  text-align : center;
  color: black;

}

h3 {
  font-size: 50px;
  text-align : center;
  color: black;

}

h4 {
  font-size: 50px;
  text-align : center;
  color: black;

}


p {
  font-size: 20px;
  text-align : center;
  color: black;
}


body{

  background: url("https://github.com/mariaisrail/mariaisrail.github.io/blob/master/achtergrond2kopie.jpg?raw=true");
  background-size:cover;
  text-align: center;
}


<head>
<style>


</style>
</head>
